html {
    font-family: monospace;
}

table,tr, td, th {
    border: solid 1px rgb(227, 224, 224);
    border-collapse: collapse;
}

td, th {
    padding:10px;
}

h1 {
    color:rgb(0, 6, 85);
}

h2 {
    color: rgba(0, 6, 85);
}

label {
    display:block; width:200px;
}

input, button {
    margin-bottom:20px;
}

.erreur { color: red; } 